<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="pageActor()" >Ator</button>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="pageClass()" >Classe</button>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="pageDirector()">Diretor</button>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="pageTitle()">Títulos</button>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="pageItem()">Items</button>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="pageClient()">Cliente</button>
        <mat-divider></mat-divider>
        <button mat-raised-button color="primary" (click)="pageRent()">Locação</button>

        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-drawer>

  <mat-toolbar color="primary">
    <div class="left-buttons">
      <div class="icon-menu">
        <button type="button" mat-mini-fab color="warn" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="text-center">Daniel F. & Alexandre</span>
    </div>
    <div class="right-buttons">
      <button type="button" mat-mini-fab color="warn" (click)="pageMenu()">
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-drawer-container>
