<div class="table-container">

  <mat-form-field>
    <mat-label>Pesquisar Ator</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Informe um nome" #input>
  </mat-form-field>

  <mat-table [dataSource]="atores" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let ator"> {{ator.name}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column action-column-header">
        <button mat-mini-fab color="primary" aria-label="Adicionar Ator" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let ator" class="action-column">
        <button mat-icon-button color="accent" aria-label="Editar Ator" (click)="onEdit(ator)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Excluir Ator" (click)="onDelete(ator)">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </mat-table>
</div>
