<div class="table-container">

  <mat-form-field>
    <mat-label>Pesquisar Sócio</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Informe um nome" #input>
  </mat-form-field>

  <mat-table [dataSource]="dependents" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let dependent"> {{dependent.name}} </mat-cell>
    </ng-container>

    <!-- Sex Column -->
    <ng-container matColumnDef="sex">
      <mat-header-cell *matHeaderCellDef> Sexo </mat-header-cell>
      <mat-cell *matCellDef="let dependent"> {{dependent.sex}} </mat-cell>
    </ng-container>

    <!-- Birth Date Column -->
    <ng-container matColumnDef="dtBirth">
      <mat-header-cell *matHeaderCellDef> Data de Nascimento </mat-header-cell>
      <mat-cell *matCellDef="let dependent"> {{dependent.dtBirth}} </mat-cell>
    </ng-container>

    <!-- Associate Column -->
    <ng-container matColumnDef="associate">
      <mat-header-cell *matHeaderCellDef> Sócio </mat-header-cell>
      <mat-cell *matCellDef="let dependent"> {{dependent.associate.name}} </mat-cell>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let dependent">
        <mat-slide-toggle (change)="changeStatus(dependent)" [(ngModel)]="dependent.active" ></mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column action-column-header">
        <button mat-mini-fab color="primary" aria-label="Adicionar Associado" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let dependent" class="action-column">
        <button mat-icon-button color="accent" aria-label="Editar Dependent" (click)="onEdit(dependent)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Excluir Dependent" (click)="onDelete(dependent)">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Sem dados encontrados "{{input.value}}"</td>
    </tr>

  </mat-table>
</div>
