<mat-card>

  <mat-toolbar color="primary">
    Detalhes da Classe
  </mat-toolbar>

  <form [formGroup]="form" class="min-width" >
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Digite o nome</mat-label>
        <input maxlength="40" matInput required formControlName="name" #name>
        <mat-error *ngIf="form.get('name')?.invalid">{{ getErrorMessage('name') }}</mat-error>
        <mat-hint align="end">{{name.value.length || 0}} / 40</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Digite o Ano</mat-label>
        <input type="number" matInput required formControlName="year">
        <mat-error *ngIf="form.get('year')?.invalid">{{ getErrorMessage('year') }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Digite a Sinopse</mat-label>
        <input maxlength="40" matInput required formControlName="synopsis" #synopsis>
        <mat-error *ngIf="form.get('synopsis')?.invalid">{{ getErrorMessage('synopsis') }}</mat-error>
        <mat-hint align="end">{{synopsis.value.length || 0}} / 40</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Digite a Categoria</mat-label>
        <input maxlength="40" matInput required formControlName="category" #category>
        <mat-error *ngIf="form.get('category')?.invalid">{{ getErrorMessage('category') }}</mat-error>
        <mat-hint align="end">{{category.name || 0}} / 40</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Digite a Classe</mat-label>
        <mat-select formControlName="classe" required>
          <ng-container *ngFor="let item of classes">
            <mat-option [value]="item">
              {{ item.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Digite o Diretor</mat-label>
        <mat-select formControlName="diretor" required>
          <ng-container *ngFor="let item of diretores">
            <mat-option [value]="item">
              {{item.name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <div>
        <mat-form-field>
          <mat-select matInput multiple placeholder="Select a Ator" formControlName="atores" required>
            <mat-option *ngFor="let option of atores" [value]="option">
                {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    </mat-card-content>

      <!-- <mat-toolbar>
        <span>Atores</span>
        <button mat-icon-button color="accent">
          <mat-icon aria-label="Adicionar um novo Ator">add</mat-icon>
        </button>
      </mat-toolbar> -->

      <!-- <table
        style="width: 100%"
        formArrayName="ator"
        *ngFor="let ator of getAtorFormArray(); let i = index"
      >

        <tr [formGroupName]="i">
          <td>
            <mat-label>Digite o Ator</mat-label>
            <mat-select multiple required>
              <ng-container *ngFor="let ator of atores">
                <mat-option [value]="ator">
                  {{ator.name}}
                </mat-option>
              </ng-container>
            </mat-select>
          </td>
        </tr>

      </table> -->

    <mat-card-actions class="botoes">
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Salvar</button>
      <button mat-button (click)="onCancel()" >Cancelar</button>
    </mat-card-actions>

  </form>

</mat-card>
