<div class="table-container">

  <mat-form-field>
    <mat-label>Pesquisar Título</mat-label>
    <input matInput (input)="applyFilterByYear($event)" placeholder="Informe um ano">
  </mat-form-field>

  <mat-table [dataSource]="titles" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let title"> {{title.name}} </mat-cell>
    </ng-container>

    <!-- Diretor Column -->
    <ng-container matColumnDef="director">
      <mat-header-cell *matHeaderCellDef> Diretor </mat-header-cell>
      <mat-cell *matCellDef="let title"> {{title.director.name}} </mat-cell>
    </ng-container>

    <!-- Classe Column -->
    <ng-container matColumnDef="aClass">
      <mat-header-cell *matHeaderCellDef> Classe </mat-header-cell>
      <mat-cell *matCellDef="let title"> {{title.aclass.name}} </mat-cell>
    </ng-container>

    <!-- Classe Column -->
    <ng-container matColumnDef="year">
      <mat-header-cell *matHeaderCellDef> Ano </mat-header-cell>
      <mat-cell *matCellDef="let title"> {{title.year}} </mat-cell>
    </ng-container>

    <!-- Categoria Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
      <mat-cell *matCellDef="let title"> {{title.category}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="action-column action-column-header">
        <button mat-mini-fab color="primary" aria-label="Adicionar titulo" (click)="onAdd()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let title" class="action-column">

        <button mat-icon-button color="primary" aria-label="Title description" (click)="dialogDescription(title)">
          <mat-icon>description</mat-icon>
        </button>

        <button mat-icon-button color="accent" aria-label="Editar titulo" (click)="onEdit(title)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" aria-label="Excluir titulo" (click)="onDelete(title)">
          <mat-icon>delete</mat-icon>
        </button>

      </mat-cell>

    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr> -->

  </mat-table>
</div>
