<mat-accordion class="expansion-panel">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ator
      </mat-panel-title>
      <mat-panel-description>
        Visualizar informações de Atores
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-container">
      <p>Nessa aba será possível inserir, visualizar, editar e excluir as informações dos atores.</p>
      <p>Os Atores possuem apenas um <strong>Nome</strong>.</p>
      <div class="button-content">
        <button mat-raised-button color="warn" (click)="pageAtor()">Acessar</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="expansion-panel">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Classe
      </mat-panel-title>
      <mat-panel-description>
        Visualizar informações de Classes
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-container">
      <p>Nessa aba será possível inserir, visualizar, editar e excluir as informações das classes.</p>
      <p>As classes possuem apenas um <strong>Nome</strong>, <strong>Valor</strong>, <strong>Prazo de devolução</strong>.</p>
      <div class="button-content">
        <button mat-raised-button color="warn" (click)="pageClasse()">Acessar</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="expansion-panel">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Diretor
      </mat-panel-title>
      <mat-panel-description>
        Visualizar informações dos Diretores
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-container">
      <p>Nessa aba será possível inserir, visualizar, editar e excluir as informações dos Diretores.</p>
      <p>Os Diretores possuem apenas um <strong>Nome</strong>.</p>
      <div class="button-content">
        <button mat-raised-button color="warn" (click)="pageDiretor()">Acessar</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="expansion-panel">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Título
      </mat-panel-title>
      <mat-panel-description>
        Visualizar informações dos Títulos
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-container">
      <p>Nessa aba será possível inserir, visualizar, editar e excluir as informações dos Títulos.</p>
      <div class="button-content">
        <button mat-raised-button color="warn" (click)="pageTitulos()">Acessar</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="expansion-panel">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Item
      </mat-panel-title>
      <mat-panel-description>
        Visualizar informações dos Items
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-container">
      <p>Nessa aba será possível inserir, visualizar, editar e excluir as informações dos Item.</p>
      <p>Os items possuem as seguintes informações: <strong>Nome</strong>, <strong>Diretor</strong>, <strong>Ano</strong>, <strong>Categoria</strong>, <strong>Classe</strong></p>
      <div class="button-content">
        <button mat-raised-button color="warn" (click)="pageTitulos()">Acessar</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="expansion-panel">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cliente
      </mat-panel-title>
      <mat-panel-description>
        Visualizar informações dos Clientes
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-container">
      <p>Nessa aba será possível inserir, visualizar, editar e excluir as informações dos Clientes.</p>
      <p>Um cliente pode ser um <strong>Sócio (Associado)</strong> e um <strong>Dependente</strong></p>
      <div class="button-content">
        <button mat-raised-button color="warn" (click)="pageClient()">Acessar</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="expansion-panel">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Locação
      </mat-panel-title>
      <mat-panel-description>
        Visualizar informações das Locações
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="content-container">
      <p>Nessa aba será possível inserir, visualizar, editar e excluir as informações das Locações.</p>
      <div class="button-content">
        <button mat-raised-button color="warn" (click)="pageRent()">Acessar</button>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
